@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BagelFatOne-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/BagelFatOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'SUITE-Regular';
}
.logo {
    font-size: 23px;
    text-decoration: none;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    font-family:"BagelFatOne-Regular";
}
.container{
    top: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    height: 95vh;
    width: 100%;
    max-width: 450px;

    border: 2px solid gray;
    border-radius: 10px;
}

.header{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    background-color: rgb(238, 99, 99);
}

.content{
    margin-top: 65px;
    width: 100%;
}

.header > div> a{
    font-size: 17px;
    text-decoration: none;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}

.categoryBtn {
    box-shadow: 2px 2px 2px 2px rgb(232, 229, 229);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 0;
    font-size: 20px;
}

.logout:hover{
    cursor: pointer;
}

.btnBox {
    margin-top: 10px;
    margin-bottom: 10px;
}

.backBtn{
    background-color: inherit;
    border: none;
    color: black;
}

.likeBtn,.linkBtn {
    cursor: pointer;
}