#myReviewListBox{
    height: 80%;
    overflow-y:auto;
}

#responseBox{
    display: flex;
    flex-direction: column;
}

.reviewBox{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
    margin-bottom: 5px;
    padding: 5px;
}

.reviewBox > a {
    text-decoration: none;
    color: black;
    margin-left: auto;
    margin-top: 5px;
}

.reviewHeader {
    display: flex;
    justify-content: flex-start;
}

.star{
    margin-right: auto;
}