#myReviewListBox{
    height: 80%;
    overflow-y:auto;
}

#responseBox{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
}

.reviewBox{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
    margin-bottom: 5px;
    padding: 5px;
}

.reviewBox > a {
    text-decoration: none;
    color: black;
    margin-left: auto;
    margin-top: 5px;
}

.reviewHeader {
    display: flex;
    justify-content: flex-start;
}

.star{
    margin-right: auto;
}

.storeInfo {
    margin-top: 5px;
    padding: 5px;
    border-bottom : 1px solid gray;

    display: flex;
    align-items: center;

    width: 100%;
}

.storeThumbnail{
    margin-right: 20px;
}

.storeThumbnail > img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  
}