.content{
    height: 86%;
}

#myReviewBox{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: 80%;
}

.reviewBox{
    height: 80%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
    margin-bottom: 5px;
    padding: 5px;
}

.reviewBox > a {
    text-decoration: none;
    color: black;
    margin-left: auto;
    margin-top: 5px;
}

.reviewHeader {
    display: flex;
    justify-content: flex-start;
}

.star{
    margin-right: auto;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 18px;
    cursor: pointer;
}

.pagination-container > div{
    margin-left: 7px;
}

.number-button {
    margin-left: 4px;
    margin-right: 4px;
}

.activePage {
    background-color: rgb(199, 115, 115);
    color: white;
    border-radius: 5px;
    padding: 2px;
}
