.content{
    width: 100%;
    height: 83%;
}

.btn{
    margin-right: 5px;
}

#orderListBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
}

.orderStoreInfo{
    margin-top: 7px;
    margin-bottom: 10px;
}

.orderInfo{
    width: 90%;
    border-bottom: 1px solid gray;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

.storeName {
    font-size: 17px;
    padding: 5px;
}

.menuName {
    font-size: 15px;
    padding: 5px;
}

.btnBox > button{
    font-size: 13px;
}


