.content{
    height: 86%;
}
#reviewListBox{
    height: 85%;
    margin-top: 10px;
}

.reviewHeader {
    display: flex;
    justify-content: flex-start;
}

.right{
    margin-right: auto;
}

#backTag:hover{
    cursor: pointer;
}