#storeListBox {
    width: 95%;
    margin-top: 60px;
    height: 80%;
    overflow-y: auto;
}

.storeInfo {
    padding: 5px;
    border-bottom : 1px solid gray;

    display: flex;
    align-items: center;

    width: 100%;
}

.storeThumbnail{
    margin-right: 20px;
}

.storeThumbnail > img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  
}