.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.btn{
    margin-top: 10px;
}

.userInput{
    width: 70%;
    max-width: 500px;
}